.carousel-container {
    display: flex;
    align-items: center;
    padding: 3%;
  }

  
  .carousel-items-items {
    display: flex;
    justify-content: center;
  }

  .carousel-items-pages {
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
    color: black;
  }