@import "variables.scss";

.footerElements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  background-color: $color-negro;
}

.footerIcon {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

@media screen and (max-aspect-ratio: 13/9) {
  .footerElements {
    display: block;
    flex-direction: column;
  }

  .span {
    display: block;
    padding-left: 40%;
  }

  .footerIcon {
    display: block;
    height: 3rem;
    width: 6rem;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 2rem;
  }
}
