@import "./variables.scss";

.homeContent {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: $color-gris;
}

// @media screen and (max-aspect-ratio: 13/9) {
//   .homeContent {
//     flex-direction: column;
//     align-content: center;
//     padding-right: 0em;
//     padding-left: 3em;
//     padding-bottom: 3rem;
//   }
// }