@import "variables.scss";

.fondo {
    background-color: $color-negro;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

.divTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: $color-celeste;
    padding-bottom: 0.8%;
    padding-top: 1%;
    border-radius: 2rem;
}

.title {
    font-size: 7rem;
    color: $color-blanco;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-shadow: 10px 10px $color-celeste;
    background-color: $color-verde;
    padding: 1%;
}

.buttonWelcome {
    display: flex;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    font-size: 3rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: bold;
    border-radius: 2rem;
    border: solid 0.5rem $color-blanco;
    background-color: $color-verde;
    color: $color-blanco;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.buttonWelcome:hover {
    color: $color-verde;
    background-color: $color-celeste;
    border: solid 8px $color-verde;
    box-shadow: 0px 0px 0px 4px $color-blanco, 0px 2px 8px 8px $color-verde, 0px 0px 0px 10px $color-negro,
        0px 0px 0px 10.5px $color-negro;
}

