@import "./variables.scss";

.navLinks {
  background-color: $color-rojo;
  display: flex;
  justify-content: flex-end;
  padding: 1.2rem 5rem;
}

.navLink {
  font-size: xx-large;
  color: $color-blanco;
  font-weight: bold;
  text-decoration: none;
  margin: 1rem;
  margin-right: 5rem;
}