@import './variables.scss';

  .number {
    display: inline-flex;
    flex-direction: row;
    margin: 0.5rem;
  }
  
  .numberA {
    float: left;
    padding: 10px 20px;
    border: solid 2px $color-blanco;
    background-color: $color-azul;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    border-radius: 1rem;
    color: $color-blanco;
  }

  .numberA:hover:not(.number) {
    border-radius: 5px;
  }