@import "../variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $color-blanco;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 0.3rem $color-gris;
  font-size: large;
  width: 40%;
  border-radius: 1.2rem;
  margin: 0.2rem;
  color: $color-blanco;
}

.rowContainer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

/*FORM*/

.form {
  display: block;
  justify-content: center;
  align-content: center;
  width: 80%;
  padding: 25px;
}

.inputContainer {
  margin: 1.5rem;
}

.rowContainer input[type="text"] {
  display: inline-block;
  font-size: large;
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.rowContainer input[type="radio"] {
  font-size: large;
  padding: 2rem;
  border-radius: 1rem;
  height: 10rem;
  width: 10rem;
}

.rowContainer input[type="checkbox"] {
  display: flex;
  width: 80%;
  padding: 2rem;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  background-color: $color-azul;
}

fieldset {
  width: 10em;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.rowContainer label {
  font-size: large;
  padding-right: 2rem;
  color: $color-azul;
  font-weight: bold;
}

.rowContainer legend {
  font-size: large;
  color: $color-azul;
  font-weight: bold;
}

select {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: white;
  background-color: $color-azul;
  font-size: large;
}

select option {
  margin: 1rem;
  font-size: large;
  padding: 1rem;
  background-color: $color-azul;
}

.content {
  width: 100%;
  justify-items: center;
  background-color: $color-verde;
  border-radius: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: $color-azul;
  font-size: 3.5rem;
  border-color: $color-blanco;
  border-radius: 1rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

p, li, a {
  font-size: x-large;
  text-decoration: none;
}

.span {
  color: $color-blanco;
  font-size: x-large;
  padding-bottom: 0.5rem;
}

/* BOTON */

.button {
  height: 3em;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  border-radius: 0.7em;
  transition: 0.5s ease-in-out;
  background-color: $color-verde;
  color: $color-blanco;
  border: solid 0.3rem $color-blanco;
  margin: 1rem;
  cursor: pointer;
}

.button:hover {
  color: color-negro;
  background-color: $color-negro;
  border: solid 0.3rem $color-verde;
  box-shadow: 4rem 0rem 2rem 2rem $color-blanco, 2rem 0rem 3rem 2rem color-negro, 0rem 2rem 0rem 4rem $color-blanco,
  2rem 0rem 2rem 2rem color-negro;
}

.iframe {
  border-radius: 2rem;
  inset: 0rem;
  display: block;
  object-fit: cover;
}

.iframe:hover {
  transform: scale(1.2);
}

.divBtnClose {
  display: flex;
  width: 100%;
  padding-right: 1.5rem;
  justify-content: flex-end;
  direction: row-reverse;
}

.btnClose {
  margin: 0.3rem;
  text-decoration: none;
  background-color: $color-rojo;
  color: $color-blanco;
  border: 0.1rem solid $color-rojo-oscuro;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size:  medium;
  width: 2.2rem;
  height: 2.2rem;
}

.btnClose:hover {
  cursor: pointer;
  background-color: $color-rojo-oscuro;
  color: $color-blanco;
  border: 0.2 solid $color-negro;
  font-weight: bold;
}
