@import "../variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $color-blanco;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid 0.3rem $color-gris;
  font-size: large;
  width: 40%;
  border-radius: 1.2rem;
  margin: 0.2rem;
  color: $color-blanco;
}

.rowContainer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

/* BOTON */
.button {
  height: 3em;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  border-radius: 0.7em;
  transition: 0.5s ease-in-out;
  background-color: $color-rojo;
  color: $color-blanco;
  border: solid 0.3rem $color-blanco;
  margin: 1rem;
  cursor: pointer;
}

.button:hover {
  color: color-negro;
  background-color: $color-negro;
  border: solid 0.3rem $color-rojo;
  box-shadow: 4rem 0rem 2rem 2rem $color-blanco, 2rem 0rem 3rem 2rem color-negro, 0rem 2rem 0rem 4rem $color-blanco,
    2rem 0rem 2rem 2rem color-negro;
}

.iframe {
  border-radius: 2rem;
  inset: 0rem;
  display: block;
  object-fit: cover;
}

.iframe:hover {
  transform: scale(1.2);
}